/* Note Form */
.note-form {
    max-width: 500px;
    margin: 20px auto;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #4facfe;
}

/* Button */
.submit-btn {
    background: #4facfe;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #00c6ff;
}